{% extends 'layout.html' %}

{% block title %}Home{% endblock title %}

{% block header %}
<div class="container-fluid p-3 bg-dark text-light">
<h1>Internet Usage</h1>
</div>
{% endblock header %}
    
{% block body %}
    <div class="progress mb-5 bg-secondary" style="width:100%; height:100px; font-size:18px">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{ (usage.used / usage.limit) * 100 }}%">
            <span class="progress-bar-label">{{ usage.used }}GB/{{ usage.limit }}GB ({{ usage.used_perc }}%) <br> {{ usage.remaining }}GB left ({{ usage.days_remaining }} days remaning)</span>
        </div>
    </div>
    <div class="full-height text-light mh-100 vh-100">   
    <p>
    Used: {{ usage.used }}GB<br>
    Limit: {{ usage.limit }}GB <br>
    Remaining: {{ usage.remaining }}GB
    </p>
    </div>
{% endblock body %}
